<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


    
	<!-- Database Configuration -->
	<import resource="config/spring/DataSource.xml"/>
	<import resource="config/spring/HibernateSessionFactory.xml"/>
	
	<bean id="player" class="com.dogtown.domain.player.Player"/>
	
	<bean id="day" class="com.dogtown.domain.day.Day"/>
	
	<bean id="flight" class="com.dogtown.domain.flight.Flight"/>
	
	<bean id="dayOneScorecard" class="com.dogtown.domain.scorecard.Scorecard">
	     <property name="day" ref="day"/>
	     <property name="player" ref="player"/>
	</bean>
	
	<bean id="dayTwoScorecard" class="com.dogtown.domain.scorecard.Scorecard">
	     <property name="day" ref="day"/>
	     <property name="player" ref="player"/>
	</bean>
	
	<bean id="scorecard" class="com.dogtown.domain.scorecard.Scorecard">
	     <property name="day" ref="day"/>
	     <property name="player" ref="player"/>
	</bean>
	
	<bean id="scoreboard" class="com.dogtown.domain.tournament.TournamentScoreboard">
	    <property name="flight" ref="flight"/>
	</bean>

   	<bean id="playerScorecard" class="com.dogtown.domain.tournament.TournamentPlayerScorecard">
   	     <property name="player" ref="player"/>
   	     <property name="dayOneScorecard" ref="dayOneScorecard"/>
   	     <property name="dayTwoScorecard" ref="dayTwoScorecard"/>
   	</bean>
	
	<!-- DAO Bean Defintions  -->
	
    <bean id="playerDAO" class="com.dogtown.integration.player.PlayerDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

    <bean id="tournamentDAO" class="com.dogtown.integration.tournament.TournamentDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
    
    <bean id="scorecardDAO" class="com.dogtown.integration.scorecard.ScorecardDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
    <bean id="skinDAO" class="com.dogtown.integration.skin.SkinDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

    <bean id="dayDAO" class="com.dogtown.integration.day.DayDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
    <bean id="flightDAO" class="com.dogtown.integration.flight.FlightDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>	
	
    <bean id="tournamentService" class="com.dogtown.service.tournament.TournamentServiceImpl">
          <property name="tournamentDAO" ref="tournamentDAO"/>
          <property name="playerDAO" ref="playerDAO"/>
          <property name="flightDAO" ref="flightDAO"/>
          <property name="scorecardDAO" ref="scorecardDAO"/>
	</bean>
	
	<!-- Beans Declaration -->
	<import resource="com/dogtown/spring/beans/TournamentBean.xml"/>
	<import resource="com/dogtown/spring/beans/PlayerBean.xml"/>
	<import resource="com/dogtown/spring/beans/ScorecardBean.xml"/>
	<import resource="com/dogtown/spring/beans/ScoreboardBean.xml"/>
	<import resource="com/dogtown/spring/beans/TournamentSkinBean.xml"/>
 
</beans>